.kit-page {
    border: solid var(--dark-blue) 2px;
    margin: 8vh;
    margin-top: 20vh;
    min-height: 50vh;
}

#kit-title {
    text-align: center;
    font-size: 50px;
    color: var(--dark-blue);
    margin-bottom: -20px;
}

.kit-container {
    display: grid;
    text-align: justify;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        'kit1 kit1'
        'img1 txt1'
        'kit2 kit2'
        'txt2 img2'
        'kit3 kit3'
        'img3 txt3';
}

.kit1,
.kit2,
.kit3 {
    margin-top: 30px;
}

.txt1,
.txt2,
.txt3,
.img1,
.img2,
.img3 {
    margin-top: -30px;
    
}

.img1,
.img2,
.img3 {
    text-align: center;
}

.kit1 {
    grid-area: kit1;
    margin-bottom: -40px;
}

.img1 {
    grid-area: img1;
    margin-left: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.txt1 {
    grid-area: txt1;
    margin-right: 5vw;
}

.kit2 {
    grid-area: kit2;
}

.txt2 {
    grid-area: txt2;
    margin-left: 5vw;
}

.img2 {
    grid-area: img2;
    margin-right: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kit3 {
    grid-area: kit3;
}

.img3 {
    grid-area: img3;
    margin-left: 5vw;
}

.txt3 {
    grid-area: txt3;
    margin-right: 5vw;
}

h2 {
    text-align: center;
    font-size: 50px;
    color: var(--dark-blue);
}

h3 {
    text-align: center;
    font-size: 20px;
    color: var(--grey-blue);
    margin-top: -30px;
}

img {
    max-width: 25vw;
}
