/* .actu-page {
    border: solid var(--dark-blue) 2px;
    margin: 8vh;
    margin-top: 20vh;
    min-height: 50vh;
    min-width: 50vw;
} */

#actu-title {
    text-align: center;
    text-justify: center;
    font-size: 50px;
    color: var(--dark-blue);
    margin-bottom: -20px;
    margin-top: 200px;
    margin-left: 50%;
    width: 700px;
}

