@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

:root {
    --dark-blue: #162852;
    --light-blue :#51beda;
    --grey-blue :#546683;
    --grey: #f5f6fa;
  }
  
body{
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: var(--grey);
    font-family: 'Nunito', sans-serif;
}


.navbar{
    display: flex;
    justify-content: end;
    box-sizing: border-box;
    padding-right: 8vh;
    margin-bottom: -40px;
    background-color: var(--dark-blue);
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    max-height: 90px;
}

.navbar a{
    text-decoration: none;
    color: var(--grey);;
}

.navbar ul {
    display: flex; 
}

.navbar ul li{
    margin: 20px;
    font-size: 19px;
}

.navbar #active {
    font-weight: bold;
    text-decoration: underline;
}


ul {
    list-style-type: none;
}

.first-page {
 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


 #logo {
    max-width: 450px;
    padding-top: 0px;
}

#enter_button {
    background-color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
    border-radius: 3px;
    color: var(--grey);
    cursor: pointer;
    text-align: center;;
    font-size: 18px;
    line-height: 20px;
    width: 130px;
    padding: 13px 23px;
    margin-top: -50px;
    /* font-family: 'Roboto', sans-serif; */
    text-decoration: none;
}

#enter_button:hover {
    background-color: var(--grey);
    border: 1px solid var(--dark-blue);
    color: var(--dark-blue);
}

.about-page {
    border: solid var(--dark-blue) 2px;
    margin: 8vh ; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #f5f6fa; */
}

#about-title {
    text-align: center;
    font-size: 50px;
    color: var(--dark-blue);
}

#about-title-2{
    text-align: center;
    font-size: 35px;
    color: var(--dark-blue);
}

#about-content {
    margin: 0px 60px;
    font-size: 19px;
    text-align: justify;

}

#rs_link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 35px;
    margin-top: 20px;
}

#logo_twitter{
    max-width:  100px;
}

#logo_instagram {
    max-width: 100px;
}